<nav class="navbar navbar-expand-md navbar-light tag-blue bg-white sticky-top py-4">
  <a class="font-22 font-weight-bolder tag-blue px-4" href="#">WiLL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon tag-blue"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto tag-blue">
        <li class="nav-item active">
          <a class="tag-blue p-2" href="https://github.com/BigWizzo" target="_blank">Github</a>
        </li>
        <li class="nav-item active">
          <a class="tag-blue p-2" href="https://www.linkedin.com/in/willnyamunokora" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="tag-blue p-2" href="https://twitter.com/willnyamunokora" target="_blank">Twitter</a>
        </li>
        <li class="nav-item active">
          <a class="tag-blue p-2" href="https://docs.google.com/document/d/11de406apsNKtMN0cdfaKDFyLQzUdb5xsXSErLo0p4ek/edit?usp=sharing" target="_blank">Resume</a>
        </li>
    </ul>
  </div>
</nav>