<div class="container-fluid p-0">
  <%# nav start here %>
  <%= render 'projects/nav' %>
  <%# header start here %>
  <header class="header container-fluid d-flex flex-column p-0">
    <div class=" w-50 m-auto">
      <div class="">Header content 1</div>
      <div class="">Header content 2</div>
      <div class="">Header content 3</div>
      <div class="">Header content 4</div>
    </div>
  </header>

  <section class="container">
    <%# project section starts here %>
    <div class="pro-section w-75 m-auto">
      <div class="project row my-3">
        <div class="pro-desc d-flex flex-column col-12 col-md-6 py-3">
            <div class="pro-title">Project Title</div>
            <div class="pro-content">Project content</div>
            <div class="pro-lang d-flex">Project languages</div>
            <div class="pro-see">Project see</div>
        </div>
        <div class="pro-img-wrapper col-12 col-md-6 px-0">
          <img class="pro-img" src="" alt="">
        </div>
      </div>
      <div class="project row my-3">
        <div class="pro-img-wrapper col-12 col-md-6 px-0">
          <img class="pro-img" src="" alt="">
        </div>
        <div class="pro-desc d-flex flex-column col-12 col-md-6 py-3">
          <div class="pro-title">Project Title</div>
          <div class="pro-content">Project content</div>
          <div class="pro-lang d-flex">Project languages</div>
          <div class="pro-see">Project see</div>
        </div>
      </div>
      <div class="project row my-3">
        <div class="pro-desc d-flex flex-column col-12 col-md-6 py-3">
          <div class="pro-title">Project Title</div>
          <div class="pro-content">Project content</div>
          <div class="pro-lang d-flex">Project languages</div>
          <div class="pro-see">Project see</div>
        </div>
        <div class="pro-img-wrapper col-12 col-md-6 px-0">
          <img class="pro-img" src="" alt="">
        </div>
      </div>
      <div class="project row my-3">
        <div class="pro-img-wrapper col-12 col-md-6 px-0">
          <img class="pro-img" src="" alt="">
        </div>
        <div class="pro-desc d-flex flex-column col-12 col-md-6 py-3">
          <div class="pro-title">Project Title</div>
          <div class="pro-content">Project content</div>
          <div class="pro-lang d-flex">Project languages</div>
          <div class="pro-see">Project see</div>
        </div>
      </div>
    </div>
  
    <%# About myself starts here %>
    <div class="abou-my container row">
      <div class="col-12 col-md-6 d-flex flex-column">
        <div class="about-title">About Myself</div>
        <div class="about-content">About Content</div>
        <div class="about-connect dflex">About Connect</div>
        <div class="about-resume">About Resume</div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column">
        <div class="about-lang">About Language</div>
        <div class="about-frame">About Framework</div>
        <div class="about-skill">About Skill</div>
      </div>
    </div>
  </section>

  <%# footer starts here %>
  <footer class="footer container-fluid d-flex flex-column">
    <div class="ft-title">Title</div>
    <div class="ft-content">Content</div>
    <form class="footer-form">Form</form>
    <div class="ft-btn">Button</div>
  </footer>
</div>