<h1 class="bg-white text-center py-3">
  <%= @project.title %>
</h1>
<div class="container">
  <div class="row bg-white">
    <div class="feature-img-div col-12 p-0">
      <img
        class="card-img"
        src="https://d.newsweek.com/en/full/1636229/image-2-startup-making-long.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card-body col-12 ranking-border">
      <h5 class="pro-title fam-hd font-weight-bold mb-0">
        This Startup Is Making Long
      </h5>
      <div class="pro-lang my-2 font-15">
        <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">Ruby</span>
        <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
        <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
      </div>
      <div class="">
        <span class="pro-stack font-13 text-info">FULL STACK</span>
      </div>
      <p class="pro-content mt-2 mb-2 font-15">
        75% of Roofstock users are first-time real estate investors, and more than half are under 35. 75% of Roofstock users are first-time real estate investors, and more than half are under 35.
      </p>
    </div>
  </div>
</div>
